# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo

# Binarios y objetos compilados
bin/
obj/

# Archivos temporales
*.log
*.tmp

# Archivos de configuración específicos del entorno
*.vscode/
*.db

# Sistema de archivos de macOS y otros
.DS_Store
Thumbs.db
